@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bold';
    src: url('./assets/fonts/Bold.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }

  body{
    font-family: 'Bold';
  }